@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,500;0,600;0,700;1,400&display=swap');
/* -------------------------------------------------------  */

/* -------------------Global Rules------------------------- */

/* ------------------------------------------------------- */

:root {
    --main-color: #ff003c;
    --second-color: #141517;
    --third-color: #f0f0f2;
    --white-color: #fff;
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* -------------------------------------------------------  */

/* -------------------Global Rules------------------------- */

/* ------------------------------------------------------- */
/* -----------------------nav----------------------------- */

nav {
    width: 100%;
    background-color: var(--white-color);
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .brand {
    width: 25%;
}

nav label, nav #inp {
    display: none;
}

nav .list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list li {
    font-size: 16px;
    padding: 2% 0px;
    position: relative;
}
nav .list li:hover>a   {
    color:var(--main-color);
}

nav .list li:nth-child(4)::after {
    content: "HOT";
    background-color: var(--main-color);
    color: var(--white-color);
    position: absolute;
    top: -10px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 3px 8px;
    filter: drop-shadow(2px 4px 6px #ccc);
    -webkit-filter: drop-shadow(2px 4px 6px #ccc);
}

nav .list li>a {
    color: var(--second-color);
    font-weight: 600;
    line-height: 1.4;
}

nav .list li .dropdown {
    width: 150px;
    height: 130px;
    position: absolute;
    bottom: -180px;
    padding: 20px;
    background-color: var(--white-color);
    border-top: 3px solid var(--main-color);
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    filter: drop-shadow(1px 2px 4px #e0e0e0 );
}

nav .list li .dropdown::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -20px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--main-color);
    border-left: 10px solid transparent;
}

nav .list li .dropdown>li {
    margin-bottom: 10px;
}

nav .list li:hover .dropdown {
    bottom: -165px;
    visibility: visible;
    opacity: 1;
}

nav .icon {
    width: 25%;
    text-align: right;
}

nav .icon>a {
    font-size: 16px;
    font-weight: 400;
    margin-right: 5%;
    color: var(--second-color);
}
nav .icon a:hover i {
    color:var(--main-color)
}

/* -----------------------nav----------------------------- */

/* --------------media query----------------- */

@media (max-width:1119px) {}

@media (max-width:991px) {
    nav .brand {
        width: 30%;
    }
    nav .brand img {
        width: 100%;
    }
    nav label {
        display: block;
        order: 3;
    }
    nav .icon {
        width: 30%;
        text-align: center;
    }
    nav .list {
        width: 95%;
        display: unset;
        margin: 0 auto;
        position: absolute;
        right: 2.5%;
        top: 15%;
        background-color: transparent;
        padding: 20px;
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease-in;
        -webkit-transition: all .4s ease-in;
        -moz-transition: all .4s ease-in;
        -ms-transition: all .4s ease-in;
        -o-transition: all .4s ease-in;
    }
    nav #inp:checked~.list {
        opacity: 1;
        visibility: visible;
        top: 10%;
    }
    nav .list li:nth-child(4):after {
        display: none;
    }
    nav .list li .dropdown {
        position: unset;
        background:var(--white-color);
        padding: 7px 7px 0;
        border-top: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        filter: 0;
        -webkit-filter: 0;
        display: none;
        filter: drop-shadow(1px 2px 4px #e0e0e0 );
    }
    nav .list li .dropdown::before {
        display: none;
    }
    nav .list li:hover .dropdown {
        display: block;
    }
    nav .icon a {
        margin-right: 6px;
    }
}

@media (max-width:767px) {}

@media (max-width:575px) {}

/* --------------media query----------------- */
