*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

p {
    font-size: 22px;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    height: 750px;
    background-image: url("../img/drew-coffman-1872.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    width: 100%;
    background-color: transparent;
    padding: 15px 0;
    position: sticky;
    background-color: rgba(54, 54, 54, 0.3);
    z-index: 1;
}

nav .container {
    width: 90%;
    margin: 0 auto;
}

nav .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container .row .logo {
    width: 20%;
}

nav .container .row .logo>img {
    width: 15vw;
    height: auto;
}

nav .container .row .nav-item {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container .row .nav-item .item>a {
    position: relative;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
}

nav .container .row .nav-item .item>a>span {
    font-size: 22px;
}

nav .container .row .nav-item .item>a:hover>span {
    color: #ae9768;
}

nav .container .row .nav-item .item-one a::after {
    content: '';
    width: 140%;
    border-top: 3px solid #ae9768;
    position: absolute;
    left: -12px;
    top: -37px;
    margin: 0 0;
}

nav .container .row input, label {
    display: none;
}

@media(max-width:991px) {
    nav {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px;
    }
    nav .container .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .container .row .logo {
        width: 20%;
    }
    nav .container .row .logo>img {
        width: 30vw;
    }
    nav .container .row .nav-item {
        display: unset;
        width: 50vw;
        height: 100%;
        position: fixed;
        top: 0;
        left: -400px;
        background: #fff;
        visibility: hidden;
        padding: 10px;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        overflow-y: auto;
    }
    nav .container .row .nav-item .item {
        padding-bottom: 20px;
    }
    nav .container .row .nav-item .item:not(:nth-child(6)) {
        border-bottom: 2px solid #ae9768;
    }
    nav .container .row input:checked~.nav-item {
        visibility: visible;
        opacity: 1;
        left: 0px;
    }
    nav .container .row .nav-item .item {
        padding: 4vh;
        margin-bottom: 3vh;
    }
    nav .container .row .nav-item .item a {
        color: #000;
        font-size: 20px;
        line-height: 20px;
    }
    nav .container .row .nav-item .item-one a::after {
        display: none;
    }
    nav .container input {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav .container .row input {
        display: none;
    }
    nav .container .row label {
        display: unset;
        cursor: pointer;
        width: 5vw;
        height: 5vh;
    }
    nav .container .row label>span {
        display: block;
        width: 5vw;
        height: 1vh;
        margin-bottom: 5px;
        background-color: #000;
        cursor: pointer;
    }
}

/* end header */

/* start our-team-section */

.our-team {
    width: 100%;
    padding: 10px;
}

.our-team .container {
    width: 90%;
    margin: 0 auto;
}

.our-team .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.our-team .container .row .box {
    width: calc(90%/4);
    position: relative;
    overflow: hidden;
    margin: 10px 10px;
    text-align: center;
}

.our-team .container .row .box img {
    width: 90%;
    transition: all 1s 1s ease;
    -webkit-transition: all 1s 1s ease;
    -moz-transition: all 1s 1s ease;
    -ms-transition: all 1s 1s ease;
    -o-transition: all 1s 1s ease;
}

.our-team .container .row .box:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.our-team .container .row .box .info {
    width: 100%;
    height: 100%;
    background-color: #ae976896;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 300px;
    text-align: center;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.our-team .container .row .box:hover .info {
    opacity: 1;
    left: 0;
    transform: rotate(360deg);
    transform-origin: bottom right;
}

.our-team .container .box .info h2 {
    position: relative;
    left: 100%;
    background-color: #fff;
    font-size: 25px;
    margin-bottom: 30px;
    opacity: 0;
    transition: all 1s 1.1s ease;
    -webkit-transition: all 1s 1.1s ease;
    -moz-transition: all 1s 1.1s ease;
    -ms-transition: all 1s 1.1s ease;
    -o-transition: all 1s 1.1s ease;
}

.our-team .container .box:hover .info h2 {
    opacity: 1;
    left: 0;
}

@media(max-width:991px) {
    .our-team .container .row .box {
        width: calc(90%/3);
        position: relative;
        overflow: hidden;
        margin: 10px 10px;
        text-align: center;
    }
}

@media(max-width:767px) {
    .our-team .container .row .box {
        width: calc(90%/2);
        position: relative;
        overflow: hidden;
        margin: 10px 10px;
        text-align: center;
    }
}

@media(max-width:576px) {
    .our-team .container .row .box {
        width: 100%;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
}

/* end  our-team-section */